<div class="for-organizations-section padded">
  <div class="row">
    <div class="col-xs-12 col-lg-5 col-lg-offset-7 text-center">
      <h1>
        IMPROVING
        <span class="for-organizations-title-tag">BUSINESSES
        </span>
      </h1>
    </div>
  </div>
  <%= image_tag "ipad.png", class: "ipad" %>
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-7">
      <div class="feature">
        <%= image_tag "like.png" %><p><span class="tag">DRIVE RETENTION</span> Unleash the power of people analytics to foster employees well-being and ultimately improve staff retention.</p>
      </div>
      <div class="feature">
        <%= image_tag "speed.png" %><p><span class="tag">GET THE FACTS</span> Rely on fact-based management dashboards to pilot your company work-life balance.</p>
      </div>
      <div class="feature">
        <%= image_tag "conversation.png" %><p><span class="tag">PEOPLE OVER PROCESS</span> Flaresights lets you automate action points and follow-up tasks, so you can focus on your people. </p>
      </div>
      <div class="feature">
        <%= image_tag "security.png" %><p><span class="tag">SECURITY</span> Your data is safe with us. The security of your data is our top priority, and we use industry-certified clouds to ensure its integrity.</p>
      </div>
    </div>
  </div>
</div>
