<div class="wrapper padded howitworks-wrapper">

  <div class="howitworkstext">Flaresights connects to a series of data already available within your company to build a lifestyle sustainability picture for each employee. It combines quantitative and qualitative input in an innovative way to highlight the metrics that matter the most.</div>
  <br>
  <div class="row" style="text-align: center;">
    <div class="col-xs-1">
      <h5>Outlook</h5>
      <%= image_tag "outlook.png", class: "integration-icon" %>
    </div>

    <div class="col-xs-1">
      <h5>Echange</h5>
      <%= image_tag "exchange.png", class: "integration-icon" %>
    </div>

    <div class="col-xs-1">
      <h5>Skype</h5>
      <%= image_tag "skype.png", class: "integration-icon" %>
    </div>
    <div class="col-xs-1">
    <h5>Gmail</h5>
      <%= image_tag "gmail.png", class: "integration-icon" %>
    </div>
    <div class="col-xs-1">
    <h5>ShareP.</h5>
      <%= image_tag "sharepoint.png", class: "integration-icon" %>
    </div>

    <div class="col-xs-1">
      <h5>Drive</h5>
      <%= image_tag "drive.png", class: "integration-icon" %>
    </div>
    <div class="col-xs-1">
      <h5>Dropbox</h5>
      <%= image_tag "dropbox.png", class: "integration-icon" %>
    </div>

    <div class="col-xs-1">
    <h5>Slack</h5>
      <%= image_tag "slack.png", class: "integration-icon" %>
    </div>
    <div class="col-xs-1">
    <h5>Github</h5>
      <%= image_tag "github.svg", class: "integration-icon" %>
    </div>

    <div class="col-xs-1">
      <h5>Fitbit</h5>
      <%= image_tag "fitbit.png", class: "integration-icon" %>
    </div>

    <div class="col-xs-1">
    <h5>Trello</h5>
      <%= image_tag "trello.png", class: "integration-icon" %>
    </div>
    <div class="col-xs-1">
    <h5>Surveys</h5>
      <%= image_tag "survey.png", class: "integration-icon" %>
    </div>
  </div>
  <br>
  <br>
  <div class="howitworkstext">All data is collected and processed in full respect of employees privacy, and in compliance with your company IT security policies.</div>
</div>
