


<%= render 'pages/home/banner' %>

<%= render 'pages/home/vision' %>

<%= render 'pages/home/carousel' %>

<%= render 'pages/home/howitworks' %>


<%= render 'pages/home/calltoaction' %>

<div class="disclaimer">
  <span class="light-text">Hi there, welcome to the test-run version of Flaresights. Please do </span><u>let us know</u><span class="light-text"> your feedback. Cheers, the Team</span>
</div>
